{% extends 'projekan_akhir/base.html' %}

{% block content %}
<div class="container my-5">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger mt-5" role="alert">
                    {{ message }}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success mt-5" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-info mt-5" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Detail Meja Biliar - No Meja: {{ meja.no_meja }}</h1>

    <p><strong>Harga Siang:</strong> {{ meja.harga_siang }}</p>
    <p><strong>Harga Malam:</strong> {{ meja.harga_malam }}</p>
    <p><strong>Status:</strong> {{ meja.get_status_display }}</p>

    <h2>Ubah Status</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Simpan Perubahan</button>
    </form>

</div>
{% endblock %}
